In [1]:
## Clean the movies_metatdata dataset and ratings dataset 
## prior to loading to database tables

# import dependencies
import pandas as pd
import numpy as np
from ast import literal_eval

# Read the csv file to dataframe
movies_metadata_df = pd.read_csv("movies_metadata.csv")
movies_metadata_df.head()

len(movies_metadata_df.index)

### Drop unecessary rows and columns

# Drop rows with zero revenue
movies_df =movies_metadata_df[movies_metadata_df['revenue'] !=0]

len(movies_df.index)

# drop duplicates by a column name
movies_df = movies_df.drop_duplicates(['id'])

len(movies_df.index)

# Drop imdb_id column
movies_df = movies_df.drop(['imdb_id'], axis=1)

# Drop homepage
movies_df = movies_df.drop(['homepage'], axis=1)

# Drop poster_path
movies_df = movies_df.drop(['poster_path'], axis=1)

# Drop overview
movies_df = movies_df.drop(['overview'], axis=1)

# Convert releast_date to datetime using ‘coerce’ to set invalid parsing as NaT.
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')


movies_df = movies_df.dropna(subset=['release_date'])

len(movies_df.index)

movies_df.head()

C:\Users\pamlh\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,en,Heat,17.9249,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0

In [2]:
links_df = pd.read_csv("links.csv")
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
links_df.dtypes

movieId    object
imdbId     object
tmdbId     object
dtype: object

In [9]:
len(links_df)

45843

In [7]:
data_types_dict = {"movieId": str, "imdbId":str, "tmdbId":str} 
links_df = links_df.astype(data_types_dict)

In [11]:
links_df = links_df.dropna(subset=["movieId"])

In [13]:
# drop duplicates by a column name
links_df = links_df.drop_duplicates(['movieId'])

In [14]:
len(links_df)

45843

In [15]:
# Merge two dataframe to get only the links that have a corresponding movie in movies_df
links_df = pd.merge(links_df, movies_df['id'], how='inner', left_on=['movieId'], right_on=['id'])

In [18]:
# Drop id column
links_df = links_df.drop(['id'], axis=1)

In [19]:
len(links_df)

1938

In [21]:
# write clean links data to csv file for loading to db
links_df.to_csv('movie_links.csv', index=False)