## Create a WordCloud with Title words

In [1]:
#Importing Dependencies
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as pPlot
from wordcloud import WordCloud, STOPWORDS
import numpy as npy
from PIL import Image
import psycopg2

In [2]:
#establishing the connection
conn = psycopg2.connect(
   database="movies_db", user='postgres', password='finalproject', host='moviesdb.ct0o6q0pbonx.us-east-2.rds.amazonaws.com', port= '5432'
)

In [3]:
#Setting auto commit false
conn.autocommit = True

In [4]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [5]:
# execute select statment and place results in cursor
cursor.execute('''select  m.title
from movies_metadata m 
where m.status = 'Released' ''')

In [6]:
#Fetching all rows from the table
result = cursor.fetchall();
#print(result)

In [7]:
# Create dataframe of just title
title_df = pd.DataFrame(result, columns=["Title"])
title_df.head()

                         Title
0                    Toy Story
1                      Jumanji
2            Waiting to Exhale
3  Father of the Bride Part II
4                         Heat

In [8]:
#Closing the connection
conn.close()

In [9]:
#Convert title to string datatype
title_df['Title'] = title_df['Title'].astype('str')

In [10]:
# Create one big string of all the Title words
title_words = ' '.join(title_df['Title'])

In [11]:
# Create function to use movie reel image as a mask and generate the wordcloud from the title
def create_word_cloud(string):
   maskArray = npy.array(Image.open("Images/MovieReel.png"))
   cloud = WordCloud(background_color = "white", max_words = 200, mask = maskArray, contour_width=1, contour_color='white', stopwords = set(STOPWORDS))
   cloud.generate(title_words)
   cloud.to_file("Images/wordCloud.png")

In [ ]:
# Render the wordcloud    
dataset = title_words.lower()
create_word_cloud(dataset)